!!! 5
%html
	%head
		%title Trombinocapoeira
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

%body
	%div{ :class => "navbar navbar-inverse navbar-fixed-top", :role => "navigation" }
		%div{ :class => "container" }
			%div{ :class => "navbar-header" }
				%button{ :type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse" }
					%span{ :class => "sr-only" } Toggle navigation
					%span{ :class => "icon-bar" }
					%span{ :class => "icon-bar" }
					%span{ :class => "icon-bar" }
				%a{ :class => "navbar-brand", :href => "#" } Trombinoscope Abada Capoeira
				
			%div{ :class => "navbar-collapse collapse" }
				%ul{ :class => "nav navbar-nav"}
					%li{ :class => "active" }
						%a{ :href => "#" } Accueil
					%li
						%a{ :href => "#about" } A propos
					%li
						%a{ :href => "#contact" } Contact
						
	%div{ :class => "container theme-showcase", :role => "main" }
		%div{ :class => "jumbotron" }
			%h3 Recherche
			= form_tag(search_capoeirists_path, class: 'form-horizontal', role: 'form') do
				%div.form-group
					.col-sm-6
						= label_tag 'search[apelido]', 'Apelido', class: "col-sm-2 control-label"
						%div.col-xs-6= text_field_tag 'search[apelido]', (params[:search] ? params[:search][:apelido] : ''), class: "form-control"
					.col-sm-6
						= label_tag 'search[trainer]', 'Entraîneur', class: "col-sm-2 control-label"
						%div.col-xs-6= text_field_tag 'search[trainer]', (params[:search] ? params[:search][:trainer] : ''), class: "form-control"
				%div.form-group
					.col-sm-6
						= label_tag 'search[city]', 'Ville', class: "col-sm-2 control-label"
						%div.col-xs-6= text_field_tag 'search[city]', (params[:search] ? params[:search][:city] : ''), class: "form-control"
					.col-sm_6
						= label_tag 'search[cord]', 'Corde', class: "col-sm-1 control-label"
						%div.col-xs-3= select_tag 'search[cord]', grouped_options_for_select([["", [""]]] + Capoeirist::CONSTANT_CORDAS, (params[:search] ? params[:search][:cord] : '')), class: "form-control"
				%div.form-group
					.col-sm-1
						%div.col-sm-offset-10.col-sm-10= submit_tag "Go", class: "btn btn-default"
					.col-sm-1
						%div.col-sm-offset-10.col-sm-10= button_tag "Effacer", class: "btn btn-default", type: "reset"
				%div.clearfix
				
			%h4= "#{@capoeirists.total_entries} résultat(s)"
					
		= yield
